* {
    font-family: "Helvetica", arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
}

.container {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.decision {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 20px;
    height: 800px;
    box-sizing: border-box;
    width: 50%;
    transition: .2s ease;
}

.decision:nth-of-type(1) {
    margin-right: 10px;
}

.decision:hover {
	cursor: pointer;
}

.decision:hover .character.cta {
	transform: translate(0,-50%) scale(1.2);
}

.decision_overlay {
	position: absolute;
	display: none;
	background-color: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	height: 800px;
	width: 100%;
	z-index: 999;
}

.btn {
    display: flex;
    height: 40px;
    width: auto;
    padding: 10px 30px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    font-size: 16px;
    background-color: #666;
    color: white;
    border: none;
    border-radius: 3px;
    transition: .5s ease;
}

.btn:hover {
    cursor: pointer;
    background-color: #333;
}

.scene {
    height: 800px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.background {
    display: flex;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.character {
    position: absolute;
    display: block;
    z-index: 999;
    height: auto;
    width: 200px;
}

.character.cta {
	position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    display: block;
    z-index: 99;
    height: auto;
    width: 200px;
    transition: .2s ease;
}

.description {
	position: absolute;
    display: block;
    z-index: 99;
    font-size: 20px;
    font-weight: bold;
    bottom: 40px;
    color:  #fff;
    text-shadow: 2px 2px #000;
}

#iphone {
    top: 90px;
    right: 130px;
    transform: rotateZ(-20deg);
}

.text-overlay {
	position: absolute;
	top: 20px;
	width: 100%;
	text-align: center;
	font-size: 30px;
	color: #fff;
	font-weight: bold;
	text-shadow: 3px 3px #000;
	z-index: 9999;
}

.container.overlay {
	display: none;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
}